*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
}

header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:12px;
    box-shadow:0 0 10px black;
}

.logo{
    font-size:35px;
    font-weight: bold;
}

.logo span{
    color:yellowgreen;
}

.navbar ul{
    display:flex;
    align-items: center;
    gap:20px;
}

.navbar{
    margin-right:30px;
}

.navbar ul li a{
    color:black;
    font-size:20px;
    transition: 0.4s;
}

.navbar ul li a:hover{
    text-decoration: underline;
    color:blue;
}


.container{
    width:100%;
    height:90vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.container form{
    box-shadow: 0 0 10px black;
    padding:10px;
    border-radius:5px;
    text-align: center;
    width:270px;
    height:270px;
}

h3{
    font-size:25px;
    font-weight: bold;
}

.inp-box input{
    margin-top:20px;
    width:100%;
    padding:11px;
    outline:none;
    border: 2px solid rgb(150, 138, 138);
    border-radius:5px;
    font-size:17px;
}

button{
    margin-top:18px;
    width:100%;
    border-radius:5px;

    padding:13px;
    border: none;
    outline: none;
    background-color:blue;
    color:#fff;
    font-size:22px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}

button:hover{
    background-color:rgb(95, 141, 10);
    color:#000;
}